<script>
export default {
    name: "reflexionVue",
    data(){
        return {
            siteTitre: "Bilan et Perspectives",
            siteTitre2: "Mes Résultats",
        }
    }
}
</script>

<template>
    <div class="conteneur-principal">
        <div class="conteneur-main">
            <div class="conteneur-innovation">
                <h2>{{ siteTitre }}</h2>
                <div class="trait_dessus"><hr></div>
                <p>Le métier de développeuse n’arrivait pas à m’intéresser et je voyais chaque semaine des collègues
                    trépigner devant un bug ou une nouvelle technologie qui soit ne m’enthousiasmaient pas, soit me
                    donnaient des sentiments négatifs.<br/><br/>

                    Si évoluer et travailler au sein d’un grand groupe me plaisait et mon CDI me rassurait, j’ai décidé
                    néanmoins de tout plaquer afin cette fois de faire un choix de carrière pour moi, avec la maturité
                    engrangée avec l’âge et l’expérience.<br/><br/>

                    En 2021, je me suis inscrite à l’ESD en master intensif. Ces mois passés à l’école ont confirmé mes
                    envies et m’ont permis d’affiner mon projet. Si j’ai trouvé le marketing, la communication, l’UX, et
                    certains cours plus techniques comme le CMS fortement intéressant, c’est l’UI et les cours de
                    logiciels Adobe qui m’ont transcendé.<br/>
                    Le métier d’UX/UI Designer, surtout la partie UI me permet de m’exprimer, de créer, tout en conservant
                    mon expérience de développeur, ainsi que les compétences managériales et sociales acquises à Atos.<br/><br/>

                    Lorsque j’ai postulé pour un stage de Designer, l’entreprise a renouvelé sa confiance, me proposant
                    également un CDI dans ce domaine à la suite de mes études.<br/>
                    Le hasard a fait qu’un poste me correspondant parfaitement était vacant. Ils cherchaient un Designer
                    UX/UI plutôt créatif et polyvalent en design afin de créer des IHM, des visuels, des bandeaux, des
                    logos et des présentations sur des projets reposant sur le programme Copernicus, programme spatial
                    pour lequel j’avais travaillé et où j’ai quelques compétences techniques.<br/><br/>

                    Tout au long de mon stage, j’ai eu l’opportunité de collaborer avec une équipe Innovation aux
                    compétences très diversifiées ainsi que l’équipe ESA de l’agence Aérospatiale que je connais très
                    bien pour y avoir travailler précédemment. Chaque membre des équipes apporte une perspective unique,
                    une manière de travailler différente et une compréhension approfondie des projets sur lesquels nous
                    avons travaillé ensemble. Cette variété de compétences a été très bénéfique pour moi et m’a permis
                    d’élargir mes horizons professionnels.<br/><br/>

                    J’ai également demandé à développer des compétences managériales et de chefs de projets, ce que
                    l’entreprise a approuvé, il a été décidé que suite à mon stage ou mon alternance je prendrais un
                    poste plus décisionnaire tout en restant Designer.<br/><br/>

                    J’avais déjà développé une connaissance de l’entreprise, le maintien et l’attitude à observer dans
                    le monde professionnel, le travail en équipe, la capacité de synthétiser, l’autonomie et la capacité
                    à prendre des décisions, et même si j’adore les études, je suis quelqu’un qui préfère travailler,
                    arranger mon emploi du temps et avoir des responsabilités, de l’autonomie, un avis qui compte et une
                    possibilité de changer et d’aider « les choses ».<br/>
                    J’avais demandé lors de mon entretien un stage de designer assez autonome, avec des responsabilités
                    dans le projet, ce qui m’a été donné.<br/>
                    Je suis en charge des designs des IHM de l’équipe Innovation, j’ai eu l’occasion d’assister le chef
                    de projet. J’ai donc pu surtout monter en compétence sur l’UX et l’UI orienté IHM métier, ainsi que
                    sur les logiciels Adobe Photoshop, XD, Premier Pro et Figma.<br/><br/>

                    Le début du stage, n’a fait que confirmer ce que j’ai su en cours tout au long de l’année, ma
                    passion c’est le design, orienté web/IHM, allier créativité, inventivité, réflexion et procédures
                    plus rigoureuses (j’ai au départ une formation purement scientifique et ai longtemps travaillé comme
                    développeuse). Ce stage s’aligne complètement avec mon projet professionnel puisqu’il est mon projet
                    professionnel. A l’époque, l’équipe innovation pensait prendre un Designer mais pas forcément de
                    suite et ce poste a été construit par mon directeur pour moi alliant design et responsabilités.<br/><br/>

                    Paradoxalement, je dirais que la plus grande de mes réussites a été de sortir de l’inertie dans
                    laquelle était ma vie professionnelle, d’avoir pris confiance en moi, en mes choix. Montrer un
                    design pour moi est beaucoup plus compliqué que montrer un code, car tout le monde a son petit avis
                    confond design/art/goût personnel.  Il faut donc défendre ses choix en s’appuyant sur des faits.<br/><br/>

                    Et je dirais que la plus grande leçon que j’ai tirée, c’est qu’il est très important de trouver un
                    métier qui donne envie de se lever le matin.
                </p>
            </div>
        </div>
    </div>
    <div class="conteneur-principal">
    <div class="conteneur-main">
      <div class="conteneur-innovation">
        <h2>{{ siteTitre2 }}</h2>
        <div class="trait_dessus"><hr></div>
        <p>Aucune des  maquettes que j’ai conçue n’est à ce jour en production. La première d’entre elle, IMIM entrera
          en test au mois d’Octobre.<br/><br/>

          Au cours de mon expérience j’ai réalisé des avancées et obtenus des résultats, tant sur le plan quantitatif
          que qualitatif.<br/><br/>

          Sur le plan quantitatif, j’ai pu mesurer l’impact de mon travail à travers des indicateurs clés tels que l’
          augmentation du nombre de projets sur lesquels, j’ai du intervenir, la pluralité des tâches qui
          m’ont été confié, ainsi que le CDI qui m'a été proposé à la fin de mon alternance. Grâce à des recherches
          et une analyse des  cibles, j’ai pu optimiser les interfaces utilisateurs. Ces améliorations se sont traduites
          par une augmentation drastique de mon travail, ainsi qu’une mise en avant par les managers qui les ont
          utilisés pour des meeting clients.<br/><br/>

          Outre les mesures quantitatives, j’ai également recueilli des données qualitatives qui témoignent de la
          satisfaction des équipes et des managers. Grâce à des retours directs et des tests réalisés sur l’équipe,
          j’ai pu évaluer leur perception et recueillir des commentaires.  Leurs retours positifs sur les interfaces
          que j’ai développées témoignent de de mes choix de design.<br/><br/>

          En outre, mes collaborations avec les équipes d’innovation à Toulouse et à Bezons ont été fructueuses. En
          travaillant en étroite collaboration avec des experts aux compétences diversifiées, j’ai pu apporter une
          perspective unique et contribuer aux projets. Mon rôle en tant qu’UX/UI Designer polyvalent m’a permis de
          proposer des solutions créatives et innovantes, tout en respectant les contraintes techniques et les objectifs
          spécifiques des projets. Ces collaborations ont été bénéfiques tant pour moi que pour l’entreprise, et ont
          contribué à l’évolution et à l’amélioration continue de nos produits et services.<br/><br/>

          En conclusion, mes résultats en tant qu’UX/UI Designer ont été solides, tant sur le plan quantitatif que
          qualitatif. Les chiffres ont démontré une augmentation significative du taux de conversion, tandis que les
          retours des utilisateurs ont témoigné de leur satisfaction et de leur engagement. Ces résultats ont renforcé
          ma confiance en tant que professionnel du design et ont confirmé que j’ai trouvé ma vocation dans ce domaine.
        </p>
      </div>
    </div>
  </div>
</template>