<script setup>

</script>

<template>
    <div class="conteneur-principal">
        <div class="conteneur-main">
            <div class="conteneur-innovation">
                <img src="@/assets/images/Atos_logo_blue_RGB.png" alt="Logo" height="69"/>
                <div class="trait_dessus"><hr></div>
                <h4>L’entreprise</h4>
                <p>ATOS est une entreprise internationale spécialisée dans les services numériques, également appelés ESN
                    (Entreprise de Services du Numérique). Fondée en France en 1997, l’entreprise est aujourd’hui présente
                    dans plus de 70 pays, emploie plus de 100 000 personnes.<br/><br/>

                    Le positionnement d’ATOS sur le marché est axé sur les technologies numériques avancées, telles que
                    l’intelligence artificielle, la cybersécurité, le Cloud, l’IoT et la transformation numérique des entreprises.<br/><br/>

                    ATOS est organisé en plusieurs divisions appelées ‘agences’, chacune spécialisée dans un domaine spécifique,
                    tel que les services financiers, la santé, l’industrie, le secteur public, l’aérospatial cœur de son activité
                    toulousaine, etc.<br/><br/>

                    ATOS propose une large gamme de services numériques, tels que le conseil en transformation numérique,
                    l’intégration de systèmes, la gestion de données, la cybersécurité et le Cloud. L’entreprise met également
                    l’accent sur l’innovation, en investissant dans des technologies émergentes telles que l’intelligence
                    artificielle et l’IoT, et en proposant des offres de services innovantes telles que la « Quantum Learning
                    Machine », une plateforme de simulation quantique.<br/><br/>

                    Les valeurs clés d’ATOS sont l’excellence, l’esprit d’équipe, la responsabilité et l’engagement envers la
                    durabilité. L’entreprise s’efforce de promouvoir une culture d’entreprise inclusive et diversifiée, en
                    valorisant la diversité des compétences et des perspectives de ses employés. Enfin, ATOS est également engagé
                    dans des initiatives de responsabilité sociale et environnementale, telles que la réduction de son empreinte
                    carbone et la promotion de l’inclusion numérique.
                </p>
                <h4>Son marketing</h4>
                <p>La stratégie d’ATOS consiste à offrir des solutions innovantes, centrées sur les besoins de ses clients,
                    en tirant parti de son expertise technique et de sa capacité à innover rapidement. L’entreprise met également
                    l’accent sur la responsabilité sociale et environnementale, en s’engageant notamment à atteindre la neutralité
                    carbone d’ici 2028.<br/><br/>

                    En termes de SWOT, ATOS possède de nombreux atouts, tels que son expertise technique, sa présence mondiale, sa
                    forte capacité d’innovation et sa stratégie axée sur les besoins de ses clients. Cependant, l’entreprise doit
                    faire face à plusieurs défis, notamment une concurrence accrue sur le marché des services numériques, la
                    nécessité de s’adapter rapidement aux évolutions technologiques et aux changements de la demande des clients,
                    ainsi que la pression croissante pour atteindre des objectifs environnementaux ambitieux.<br/><br/>

                    Les enjeux clés pour ATOS dans le domaine de l’innovation et du design sont de continuer à développer des
                    solutions innovantes qui répondent aux besoins de ses clients, tout en s’adaptant rapidement aux évolutions
                    technologiques et en veillant à ce que ses offres soient compétitives sur le marché. L’entreprise doit
                    également être capable de créer une culture d’innovation et de créativité au sein de ses équipes, tout en
                    maintenant un niveau élevé de qualité dans ses designs et en assurant une expérience utilisateur optimale.
                </p>
            </div>
        </div>
    </div>
</template>

<style scoped>
h4{
    margin-top: 3em;
}
img {
    margin: 3em 0 2em 0;
}
</style>