<script>
import BoutonStyleTertiaire from "@/components/boutonStyleTertiaire.vue";

export default {
    name: "equipeVue",
  components: {BoutonStyleTertiaire},
    data(){
        return {
            siteTitre: "L'équipe Innovation",
            siteTitreMission: "Ma mission",
            buttonFormulaire1: "Découvrir mes études UX",
            buttonFormulaire2: "Découvrir mes réalisations",
            hrefFormulaire1: "/rapport-de-stage/etudes",
            hrefFormulaire2: "/rapport-de-stage/realisations",
        }
    }
}
</script>

<template>
    <div class="conteneur-principal">
        <div class="conteneur-main">
            <div class="conteneur-innovation">
                <h2>{{ siteTitre }}</h2>
                <div class="trait_dessus"><hr></div>
                <p>L’équipe Innovation d’ATOS, est une entité en dehors et en parallèle des agences d’ATOS. Elle est
                    composée de professionnels passionnés et créatifs, dont le rôle est de concevoir des solutions
                    numériques innovantes pour répondre aux besoins émergents de ses clients. Cette équipe
                    multidisciplinaire regroupe des experts dans divers domaines tels que le design, le développement, la
                    recherche et la gestion de projets. <br/><br/>

                    L’équipe travaille en étroite collaboration avec les autres agences d’ATOS pour créer des solutions
                    innovantes pour les clients, en s’appuyant sur les dernières technologies et les meilleures pratiques
                    de conception.<br/><br/>

                    L’équipe Innovation est également impliquée dans la recherche et le développement de nouvelles
                    technologies émergentes, telles que l’intelligence artificielle, la réalité virtuelle et augmentée,
                    l’IoT, la blockchain, etc. L’équipe met également en place des initiatives d’innovation pour stimuler
                    la créativité et l’esprit d’entreprise chez les employés d’ATOS.<br/><br/>

                    Elle est guidée par une forte culture de l’innovation et de la collaboration, en s’efforçant
                    d’explorer de nouvelles opportunités et de repousser les limites de ce qui est possible. Cette culture
                    de l’innovation est également encouragée par la direction d’ATOS, qui investit de manière significative
                    dans la recherche et le développement de nouvelles technologies et solutions numériques.<br/><br/>

                    L'innovation Atos a quatres domaines principaux d'expertises que sont l'environnement, l'IA,
                    la robotique et le métavers.<br/><br/>

                    C’est dans ce contexte que s’effectue mon stage.
                </p>
            </div>
        </div>
    </div>
    <div class="conteneur-principal">
        <div class="conteneur-main">
            <div class="conteneur-innovation">
                <h2>{{ siteTitreMission }}</h2>
                <div class="trait_dessus"><hr></div>
                <p>  Je suis chargé de la conception des designs de l’équipe Innovation Global TS en tant que designer UI/UX.
                  Mon équipe toulousaine est composée de professionnels multidisciplinaires, dirigée par le Directeur
                  Innovation France, Laurent CLERGUE, qui est également mon tuteur de stage.<br/><br/>

                  Ce stage offre de nombreux défis visuels, et m’a fais intervenir sur de nombreux projets tel que le
                  projet IMIM qui a fait appel à mon dernier projet lorsque j’étais développeuse et responsable technique
                  du projet, Indicateurs Verts (visualisation et analyse d’indicateurs environnementaux liés à l’
                  urbanisation) et Service Advisor (plateforme permettant aux managers de noter les consultants et
                  d’évaluer la satisfaction des clients).<br/><br/>

                  Ces projets variés me permettent de mettre en pratique mes compétences en design pour créer des
                  solutions convaincantes qui répondent aux besoins des utilisateurs et qui contribuent à l’innovation
                  dans des domaines aussi cruciaux que la durabilité environnementale et l’amélioration des services.
                  En travaillant sur ces initiatives, j’apporte ma contribution en conciliant ma passion pour le design,
                  mon expertise en UX/UI et mon engagement en faveur d’un avenir plus durable.<br/><br/>

                  En plus de ma participation active à ces projets, j’ai également la responsabilité de développer et de
                  maintenir la charte graphique des différents Innolab. Cela inclut la création d’une identité visuelle
                  distinctive, en veillant à ce que chaque Innolab dispose d’une identité visuelle cohérente et d’une
                  ligne artistique directrice. Cette tâche me permet d’apporter ma touche personnelle en termes de design
                  et de contribuer à l’image de marque des Innolab au sein de l’entreprise.<br/><br/>

                  Grâce à ces différentes missions, je suis en mesure de mettre à profit mes compétences en design, ma
                  créativité et mon sens artistique pour soutenir les projets d’innovation chez Atos. Je suis motivé(e)
                  par l’opportunité de travailler sur des initiatives significatives, de collaborer avec des équipes
                  talentueuses et d’apporter ma contribution à la réalisation de solutions innovantes et durables.<br/><br/>

                  Je suis fier/fière de faire partie de l’équipe innovation Globale d’Atos et de pouvoir contribuer à la
                  transformation digitale et écologique grâce à mon rôle d’UX/UI designer.<br/><br/><br/>

                  Pour en apprendre plus sur les cas d’usage ainsi que les étude que j’ai réalisée sur les utilisateurs
                  finaux des différentes IHM, rendez-vous sur cette page.
                </p>
                <bouton-style-tertiaire :buttonText=buttonFormulaire1 :href-formulaire="hrefFormulaire1"></bouton-style-tertiaire>
                <p>
                Pour découvrir les visuels des IHMs ainsi que la vidéo de présentation de l’IHM IMIM que j’ai
                réalisé, rendez-vous sur cette page
                </p>
              <bouton-style-tertiaire :buttonText=buttonFormulaire2 :href-formulaire="hrefFormulaire2"></bouton-style-tertiaire>
              <p>
              </p>
            </div>
        </div>
    </div>
</template>