<script>
import BoutonStyleSecondaire from "@/components/boutonStyleSecondaire.vue";
import boutonStylePrincipal from "@/components/boutonStylePrincipal.vue";
export default {
    name: "etudesUX",
    components: {boutonStylePrincipal, BoutonStyleSecondaire},
    data(){
        return {
            boutonPrincipal1: {
                title: "Télécharger le dossier Service Advisor",
                href: "3",
            },
            boutonPrincipal2: {
              title: "Télécharger le dossier indicateurs verts",
              href: "2",
            },
            boutonSecondaire: {
                title: "Télécharger le dossier IMIM",
                href: "1",
            },
            siteTitre: "Études des utilisateurs finaux",
        }
    },
}
</script>

<template>
    <div class="conteneur-principal">
        <div class="conteneur-main">
            <div class="conteneur-innovation">
                <h2>{{ siteTitre }}</h2>
                <div class="trait_dessus"><hr></div>
                <p>Cette page vous permettra de télécharger les dossiers d’études préliminaires pour les projets
                    IMIM, Service Advisor et Indicateurs verts. Ces dossiers vous permettront de mieux comprendre les
                    besoins des utilisateurs finaux, leurs attentes et leurs comportements.<br/><br/>

                    Dans ces dossiers, vous trouverez des informations qui ont permis de guider la conception
                    design de ces projets. Tout d’abord, les personas vous offriront un aperçu détaillé des profils
                    types des utilisateurs finaux. Ces représentations fictives sont basées sur des recherches,
                    et elles mettent en lumière les caractéristiques, les motivations et les objectifs des
                    utilisateurs ciblés.<br/><br/>

                    Les empathy map sont des outils visuels puissants qui aident à se mettre dans la peau des
                    utilisateurs finaux. En examinant leurs émotions, leurs pensées, leurs comportements et leurs
                    besoins, elles permettent de concevoir des visuels plus empathiques et plus adaptés à leurs
                    attentes.<br/><br/>

                    Les parcours utilisateurs décrivent les étapes clés que les utilisateurs finaux traversent
                    lors de leur interaction avec les IHM des différents projets. Ces parcours détaillés vous
                    donnent une vision globale des différentes étapes, des points de contact et des besoins
                    spécifiques de chaque utilisateur tout au long de leur expérience.<br/><br/>

                    Enfin, les conclusions des études rassemblent les principaux constats et les recommandations
                    découlant des recherches effectuées. Ces informations ont permise de prendre des décisions
                    éclairées pour optimiser les visuels, en se basant sur des données concrètes et des insights
                    utilisateur.<br/><br/>

                    Je vous invitons à télécharger ces dossiers et à les explorer si vous désirez en savoir plus.
                </p>
            </div>
        </div>
        <div class="conteneur-etudes">
          <div><bouton-style-secondaire :buttonText=boutonSecondaire></bouton-style-secondaire></div>
            <div class="conteneur-boutons">
              <bouton-style-principal :buttonText=boutonPrincipal1></bouton-style-principal>
              <bouton-style-principal :buttonText=boutonPrincipal2></bouton-style-principal>
            </div>
        </div>
    </div>
</template>