<script>
import BoutonStyleTertiaire from "@/components/boutonStyleTertiaire.vue";
export default {
    name: "presentation",
    components: {BoutonStyleTertiaire},
    data(){
        return {
            boutonTitre: "Retour à l'accueil",
            boutonHref: "/",
            siteTitre: "Page Inconnue",
            paragraphe:"ERREUR 404 Ce lien est introuvable - Redirigez vous vers la page d’accueil",
        }
    }
}
</script>

<template>
    <div class="conteneur-principal">
        <div class="conteneur-main">
            <div class="conteneur-innovation">
                <h2>{{ siteTitre }}</h2>
                <div class="trait_dessus"><hr></div>
                <img src="@/assets/images/404.png" alt="Logo Innolab" height="300">
                <p>ERREUR 404 <br/> La page à laquelle vous tentez d'accéder n'existe pas - Redirigez vous vers la page d’accueil</p>
                <bouton-style-tertiaire :buttonText=boutonTitre :href-formulaire="boutonHref"></bouton-style-tertiaire>
            </div>
        </div>
    </div>
</template>

<style scoped>
.conteneur-innovation {
    margin-bottom: 3em;
}

</style>