<script>
import boutonStylePrincipal from "@/components/boutonStylePrincipal.vue";
export default {
    name: "presentation",
    components: {boutonStylePrincipal},
    data(){
        return {
            boutonPrincipal: {
                title: "Télécharger mon CV",
                href: "4",
            },
            siteTitre: "Présentation",
        }
    }
}
</script>

<template>
    <div class="conteneur-principal">
        <div class="conteneur-main">
            <div class="conteneur-innovation">
                <h2>{{ siteTitre }}</h2>
                <div class="trait_dessus"><hr></div>
                <p>Bien qu’élève plutôt scientifique, d’après mes notes au collège et au lycée, j’ai toujours eu un
                    profil et une appétence pour les matières artistiques et l’art en général.<br/><br/>

                    J’ai à l’époque choisie une orientation « raisonnable et sécurisante » et ai fait une école
                    d’ingénieur en Réseaux et Télécommunication.<br/><br/>

                    J’ai travaillé pendant 5 ans comme Ingénieure en développement logiciel (BAC+5 en 2017) et plus tard
                    comme responsable technique dans le domaine spatial à Toulouse chez ATOS.
                    Je me suis aperçue assez vite que ce travail trop technique ne correspondait pas à mes aspirations
                    profondes.<br/><br/>

                    Bien que j’aime les aspects managériaux et de communication, je ne suis pas une technicienne pure et
                    dure. La création et l’humain sont ce qui m’intéressent le plus.<br/><br/>

                    En 2021, j’ai décidé de me reconvertir professionnellement en combinant mes compétences acquises
                    lors de mes cinq années en entreprise avec mon profil et mes aspirations.<br/><br/>

                    J’ai choisi de valoriser mon profil artistique et créatif, mes qualités rédactionnelles, sociales
                    et humaines, ainsi que mes appétences en m’inscrivant à l’ESP en Master 2 « Direction Artistique
                    et WebDesign ».
                </p>
                <div class="conteneur-bouton">
                    <bouton-style-principal :buttonText=boutonPrincipal></bouton-style-principal>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.conteneur-bouton{
    margin-bottom: 3em;
}
</style>