<script>
import boutonStylePrincipal from "@/components/boutonStylePrincipal.vue";
export default {
    name: "equipeVue",
    components: {boutonStylePrincipal},
    data(){
        return {
            siteTitre: "Le projet IMIM",
            siteTitreInnolab: "La landing page Innolab",
            siteTitreIV: "Le projet Mes Indicateurs verts",
            siteTitreSA: "Le projet Service Advisor",
            siteTitreLogo: "Le logo Innolab",
            siteTitreFD: "Les visuels Innolabs",
            boutonPrincipal1: {
                title: "Télécharger la maquette IMIM",
                href: "5",
            },
            boutonPrincipal2: {
              title: "Télécharger la maquette Innolab",
              href: "7",
            },
            boutonPrincipal3: {
              title: "Télécharger la maquette IV",
              href: "6",
            },
            boutonPrincipal4: {
              title: "Télécharger la maquette SA",
              href: "8",
            },
        }
    }
}
</script>

<template>
    <div class="conteneur-principal">
        <div class="conteneur-main">
            <div class="conteneur-innovation">
                <h2>{{ siteTitre }}</h2>
                <div class="trait_dessus"><hr></div>
                <video playsinline controls poster="@/assets/images/IMIM-poster.png">
                    <source src="@/assets/videos/IMIM_Presentation_format_web.mp4" type='video/mp4'>
                </video>
                <p>Le projet IMIM est la création d’une IHM exploitant les données Monde d’émission de carbone,
                    basée sur l’IHM Carbon Monitor du projet PSSIC, intégrant les travaux de la thèse ‘Emissions
                    Carbon Sectoriel’ de Léna GURRIARAN, certains cas d’usages du GIEC, ainsi que des outils
                    génériques permettant sa réutilisation dans des projets futurs.<br/><br/>

                    L’IHM aura une version publique et une version professionnelle plus complète et comprenant
                    plus d’outils de cartographie, ainsi qu’une vue spécifique permettant d’utiliser ceux-ci au
                    mieux. Il y aura 3 thèmes disponibles : un thème bleu, un thème sombre, ainsi qu’un thème
                    classique avec un fond de carte uni.<br/><br/>

                    Tous les maquettes et prototypes ont été fait avec Figma.<br/><br/>

                    Pour ce projet, j’ai également trouvé le nom, crée le logo et réalisé la vidéo de présentation
                    ci-dessus grâce à Adobe Premier Pro
                </p>
                <div>
                    <img src="@/assets/images/IMIM_page_accueil_theme2.jpg" alt="Page Accueil IHM IMIM">
                </div>
                <div>
                    <img src="@/assets/images/IMIM_toolbar_theme2.jpg" alt="Page Accueil IHM avec barre d'outils ouverte">
                </div>
                <div>
                    <img src="@/assets/images/IMIM_fullscreen_theme2.jpg" alt="Vue outils de cartographie">
                </div>
            </div>
        </div>
        <div class="conteneur-images">
              <div class="conteneur-boutons">
                  <bouton-style-principal :buttonText=boutonPrincipal1></bouton-style-principal>
              </div>
        </div>
    </div>
    <div class="conteneur-principal">
        <div class="conteneur-main">
            <div class="conteneur-innovation">
                <h2>{{ siteTitreInnolab }}</h2>
                <div class="trait_dessus"><hr></div>
                <p>J’ai réalisé la landing page de l’Inno’lab en composant avec la charte graphique de l’entreprise.<br/><br/>
                  J’ai choisi de rester sur des tons bleus, qui est la couleur principale de la charte graphique de l’entreprise.
                </p>
              <div>
                <img src="@/assets/images/Launding_page_Atos_1.webp" alt="Page Accueil INNOLAB">
              </div>
              <div>
                <img src="@/assets/images/Launding_page_Atos_2.webp" alt="Page Nos Valeurs">
              </div>
              <div>
                <img src="@/assets/images/Launding_page_Atos_3.webp" alt="Footer et CTA">
              </div>
            </div>
        </div>
      <div class="conteneur-images">
        <div class="conteneur-boutons">
          <bouton-style-principal :buttonText=boutonPrincipal2></bouton-style-principal>
        </div>
      </div>
    </div>
    <div class="conteneur-principal">
    <div class="conteneur-main">
      <div class="conteneur-innovation">
        <h2>{{ siteTitreIV }}</h2>
        <div class="trait_dessus"><hr></div>
        <p>« Mess Indicateurs Verts » est une plateforme interactive qui permet aux utilisateurs de visualiser et
          d’analyser des indicateurs environnementaux liés à l’urbanisation et au développement durable. Le design est
          basé sur celui d'IMIM afin de garder une cohérence entre les IHM Innovation d'Atos. L’IHM offre une
          gamme de fonctionnalités telles que l’affichage des nouvelles constructions, la comparaison des consommations
          énergétiques, la surveillance des cultures agricoles et l’identification des zones à risques.<br/><br/>

          Grâce à une conception intuitive et conviviale, les utilisateurs peuvent naviguer facilement à travers les
          différentes sections de l’IHM. Les graphiques et les tableaux interactifs permettent de visualiser les données
          de manière claire et compréhensible. De plus, l’interface propose des filtres personnalisables pour affiner
          les résultats en fonction des critères spécifiques de l’utilisateur.<br/><br/>

          Mon rôle en tant que UX:UI design a été de concevoir et développer l’interface de l’IHM.
        </p>
        <div>
          <img src="@/assets/images/IV_signup.jpg" alt="Page Accueil INNOLAB">
        </div>
        <div>
          <img src="@/assets/images/IV_toolbar_ouverte.jpg" alt="Page Nos Valeurs">
        </div>
        <div>
          <img src="@/assets/images/IV_menu_ouvert_calendrier.jpg" alt="Footer et CTA">
        </div>
      </div>
    </div>
    <div class="conteneur-images">
      <div class="conteneur-boutons">
        <bouton-style-principal :buttonText=boutonPrincipal3></bouton-style-principal>
      </div>
    </div>
  </div>
    <div class="conteneur-principal">
    <div class="conteneur-main">
      <div class="conteneur-innovation">
        <h2>{{ siteTitreSA }}</h2>
        <div class="trait_dessus"><hr></div>
        <p>j’ai travaillé sur le prototype de l’application et du site web Service Advisor. L’objectif principal de cet
          outil était de permettre aux managers de noter les consultants, d’évaluer la satisfaction des clients et de
          proposer des formations.<br/><br/>

          L'outil 'Service Advisor offre une interface conviviale et sécurisée, permettant aux utilisateurs de se
          connecter facilement et de donner leur avis. J’ai utilisé Adobe XD pour concevoir les maquettes et prototypes
          de l’application, en mettant l’accent sur une expérience utilisateur optimale.<br/><br/>

          Les fonctionnalités clés de Service Advisor incluent la recherche par nom et prénom du consultant, la notation
          des consultants par mission avec des étoiles de 0 à 5, et la possibilité pour les managers de consulter les
          notations, les commentaires et les performances des commerciaux. L’outl agrège les données des managers
          et des clients pour calculer une évaluation globale de la satisfaction des clients pour chaque consultant et
          chaque mission.<br/><br/>

          Mon rôle dans ce projet a été de concevoir et développer l’interface utilisateur de l’application et du site.
        </p>
        <div>
          <img src="@/assets/images/SA_Login.jpg" alt="Login SA">
        </div>
        <div>
          <img src="@/assets/images/SA-Consultant.jpg" alt="Page consultant SA">
        </div>
        <div>
          <img src="@/assets/images/SA-Home.jpg" alt="Page Accueil SA">
        </div>
        <div>
          <img src="@/assets/images/SA_avis.jpg" alt="Donner mon avis">
        </div>
      </div>
    </div>
    <div class="conteneur-images">
      <div class="conteneur-boutons">
        <bouton-style-principal :buttonText=boutonPrincipal4></bouton-style-principal>
      </div>
    </div>
  </div>
    <div class="conteneur-principal">
        <div class="conteneur-main">
            <div class="conteneur-innovation">
                <h2>{{ siteTitreLogo }}</h2>
                <div class="trait_dessus"><hr></div>
                <p>Le projet IMIM est la création d’une IHM exploitant les données Monde d’émission de carbone,
                    basée sur l’IHM Carbon Monitor du projet PSSIC, intégrant les travaux de la thèse ‘Emissions
                    Carbon Sectoriel’ de Léna GURRIARAN, certains cas d’usages du GIEC, ainsi que des outils
                    génériques permettant sa réutilisation dans des projets futurs.
                </p>
                <p>J’ai réalisé le logo de l’Innovation Atos en composant avec la charte graphique de l’entreprise.
                    <br/><br/>

                    J’ai choisi de conserver le logo d’Atos, tout en ajoutant une ampoule synonyme d’idée,
                    d’innovation et d’inventivité.
                </p>
                <div class="conteneur-images conteneur-logo">
                    <img src="@/assets/images/logo-innolab.jpg" alt="Logo Innolab">
                </div>
            </div>
        </div>
    </div>
    <div class="conteneur-principal">
      <div class="conteneur-main">
      <div class="conteneur-innovation">
        <h2>{{ siteTitreFD }}</h2>
        <div class="trait_dessus"><hr></div>
        <p>Toujours dans l’optique d’offrir une entité visuelle propre à l’Innolab, j’ai crée des fonds de conversation
          teams afin de cacher les arrières de pièces des managers lors des réunions clients, ainsi que des visuels
          représentants les différents pôles de l'innovation.
        </p>
        <div>
          <img src="@/assets/images/poster_IA_generative.png" alt="Poster représentant le pôle IA">
        </div>
        <div>
          <img src="@/assets/images/Innolab_wallpaper_green.jpg" alt="Fond d'écran teams">
        </div>
        <div>
          <img src="@/assets/images/Innolab_wallpaper_nasa.jpg" alt="Fond d'écran teams">
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
video{
    margin-top: 3em;
}

.conteneur-boutons a{
    margin-bottom: 3em;
}

.conteneur-logo-principal img{
    padding-bottom: 3em;
}

.conteneur-images{
    max-width: 1480px;
    grid-column: 1;
    grid-row: 1;
}

.conteneur-images video{
    max-width: 700px;
}

.conteneur-images img{
    max-width: 700px;
}

.conteneur-logo {
    padding-bottom: 3em;
}

</style>