<script>
export default {
    name: "reflexionVue",
    data(){
        return {
            siteTitre: "Pourquoi ce design",
            paragraphe: "L’UI design du site a été pensé pour refléter les valeurs et les domaines d’expertise des projets " +
                "sur lesquels je suis intervenue. Plusieurs éléments ont été pris en compte pour justifier les choix de " +
                "conception. Tout d’abord, la couleur bleue a été choisie en référence à la charte graphique d’ATOS, " +
                "l’entreprise pour laquelle je travaille. Le bleu est souvent associé à la confiance, la fiabilité et la " +
                "technologie, ce qui correspond à l’image de l’entreprise et à sa réputation dans le domaine des services " +
                "numériques. Ensuite, la présence d’étoiles et d’éléments liés à l’univers s’explique par ma participation " +
                "à des projets aérospatiaux. L’espace et les étoiles symbolisent l’exploration, l’innovation et " +
                "l’ouverture vers de nouveaux horizons, des aspects essentiels dans le domaine aérospatial. La référence " +
                "à l’eau est présente pour représenter le projet Hydro, qui fait également partie de l’agence aérospatiale. " +
                "L’eau évoque la pureté, la fluidité et la puissance, des caractéristiques qui peuvent être associées à " +
                "ce projet spécifique. La nature est également intégrée dans l’UI design, pour rappeler ces projets à " +
                "visée écologique. Cependant, pour la page « Études UX », un fond d’écran différent est utilisé dans le " +
                "but de rappeler aux utilisateurs le contexte spécifique de cette section. Ainsi, le fond d’écran peut " +
                "être lié à l’énergie consommée et aux émissions de CO2, en accord avec le projet IMIM. En résumé, chaque " +
                "élément de l’UI design a été justifié en fonction de sa pertinence vis-à-vis des valeurs de l’entreprise, " +
                "des domaines d’expertise des projets aérospatiaux, des préoccupations environnementales et des besoins " +
                "spécifiques des utilisateurs. ",
        }
    }
}
</script>

<template>
    <div class="conteneur-principal">
        <div class="conteneur-main">
            <div class="conteneur-innovation">
                <h2>{{ siteTitre }}</h2>
                <div class="trait_dessus"><hr></div>
                <p>L’UI design du site a été pensé pour refléter les valeurs et les domaines d’expertise des projets sur
                    lesquels je suis intervenue. Plusieurs éléments ont été pris en compte pour justifier les choix de
                    conception.<br/><br/>

                    Tout d’abord, la couleur bleue a été choisie en référence à la charte graphique d’ATOS, l’entreprise
                    pour laquelle je travaille. Le bleu est souvent associé à la confiance, la fiabilité et la technologie,
                    ce qui correspond à l’image de l’entreprise et à sa réputation dans le domaine des services numériques.<br/><br/>

                    Ensuite, la présence d’étoiles et d’éléments liés à l’univers s’explique par ma participation à des
                    projets aérospatiaux. L’espace et les étoiles symbolisent l’exploration, l’innovation et l’ouverture
                    vers de nouveaux horizons, des aspects essentiels dans le domaine aérospatial.<br/><br/>

                    La référence à l’eau est présente pour représenter l'environnement, la nature. L'environnement est
                    l'un des topics principaux des Innolab, et un sujet surquel je suis plusieurs fois intervenue.<br/><br/>

                    La nature est également intégrée dans l’UI design, pour rappeler ces projets à visée écologique.<br/><br/>

                    Cependant, pour la page « Études UX », un fond d’écran différent est utilisé dans le but de
                    rappeler aux utilisateurs le contexte spécifique de cette section. Ainsi, le fond d’écran peut être
                    lié à l’énergie consommée et aux émissions de CO2, en accord avec le projet IMIM.<br/><br/>

                    En résumé, chaque élément de l’UI design a été justifié en fonction de sa pertinence vis-à-vis des
                    valeurs de l’entreprise, des domaines d’expertise des projets aérospatiaux, des préoccupations
                    environnementales et des besoins spécifiques des utilisateurs.
                </p>
            </div>
        </div>
    </div>
</template>
