<script>
export default {
    name: "remerciementsVue",
    data(){
        return {
            siteTitre: "Remerciements",
        }
    }
}
</script>

<template>
    <div class="conteneur-principal">
        <div class="conteneur-main">
            <div class="conteneur-innovation">
                <h2>{{ siteTitre }}</h2>
                <div class="trait_dessus"><hr></div>
                <p>Je tiens à exprimer ma gratitude à toute l’équipe innovation d’ATOS pour m’avoir accueilli au sein
                  de leur équipe. <br/><br/>

                  Je remercie particulièrement Laurent CLERGUE, mon tuteur de stage, pour sa disponibilité,
                  sa confiance et les responsabilités qu’il m’a confié, ainsi que mon ancien directeur sur les projets
                  ESA Jean-Philippe AUDOUIN pour son soutien et les opportunités qu’il m’a offertes.<br/><br/>

                  Leur accompagnement m’a permis de me sentir à l’aise dans mon travail, de développer mes compétences
                  et de progresser dans ma compréhension des enjeux de l’innovation et du design. Leur confiance en moi
                  m’a également poussé à sortir de ma zone de confort et à prendre des initiatives, ce qui m’a permis
                  de vivre une expérience professionnelle riche et stimulante.<br/><br/>

                  Je voudrais également remercier Sebastien Delautier et Hubert Lespinasse, ainsi que tous les membres
                  de l’équipe pour leur collaboration et leur esprit d’équipe. Grâce à eux, j’ai pu acquérir une
                  expérience enrichissante et développer mes compétences en tant que designer UX/UI. Je suis
                  reconnaissant pour cette opportunité et je suis convaincu que cette expérience me sera bénéfique dans
                  ma future carrière professionnelle.
                </p>
            </div>
        </div>
    </div>

</template>