<script>
export default {
    name: "temoignageVue",
    props: {
        titreArticle: String,
        paragrapheArticle: String,
    },
}
</script>

<template>
    <div class="conteneur-principal">
          <div class="conteneur-main">
              <div class="conteneur-innovation">
                  <h2>Florian Gallardo,
                      développeur à Atos</h2>
                  <div class="trait_dessus"><hr></div>
                  <h3>J’ai réalisé une interview de Florian Gallardo, qui est actuellement développeur Python, en CDI.
                      Lors de son stage, il a intégré l’équipe Innovation et a travaillé sur une technologie d’intelligence
                      artificielle.</h3>
                  <h4>1.	Quelles ont été tes tâches et responsabilités pendant ton stage ?</h4>
                  <p>J’ai été chargé d’établir un classifieur automatique d’essence de bois en utilisant l’IA. Je
                      disposais d’un microscope et de plusieurs planches de bois de différentes espèces qui m’ont permis
                      de constituer d’un jeu de données sur lesquelles j’ai pu entrainer un algorithme de machine learning.
                  </p>
                  <h4>2.	Comment as- trouvé l’expérience globale de ton stage ?</h4>
                  <p>Bien, je trouvais que mon tuteur (ndlr : Hubert Lespinasse) était très à l’écoute et présent. Mon
                      tuteur avait déjà eu plusieurs stagiaires dans mon domaine, j’ai donc été très bien guidé.</p>
                  <h4>3.	Comment as-tu trouvé l’ambiance de travail et la culture de l’entreprise pendant votre stage ?</h4>
                  <p> J’ai effectué mon stage pendant le covid, je n’ai découvert l’entreprise qu’à la fin du covid, soit mon CDI.</p>
                  <h4>4.	Comment ton stage t’a-t-il préparé pour le poste que tu occupes actuellement ?</h4>
                  <p>J’ai appris la rigueur nécessaire en entreprise et les bonnes pratiques de programmation.</p>
                  <h4>5.	Quelles compétences as-tu acquises pendant ton stage que tu utilises dans votre travail actuel ?</h4>
                  <p>J’ai appris à utiliser des outils tels que Linux, Docker, Python et GIT.</p>
                  <h4>6.	Comment as-tu trouvé le processus de recrutement pour ton poste en CDI ?</h4>
                  <p>Le directeur de l’agence Aérospace m’a directement contacté pour me dire que j’étais pris à mi-stage.</p>
                  <h4>7.	Comment ton expérience de travail en tant que stagiaire a-t-elle influencé ta décision de postuler en CDI dans cette entreprise ?</h4>
                  <p>Le stage et le cadre m’ont plu</p>
                  <h4>8.	Quels sont les avantages de travailler dans cette entreprise, selon toi ?</h4>
                  <p>Le télétravail, les horaires flexibles, le domaine du spatial et les sujets des projets sont très intéressants</p>
                  <h4>9.	Y a-t-il des aspects de ton travail actuel que tu as découverts après ton stage et qui ont été une surprise pour toi ?</h4>
                  <p>Les choco-blast, le travail en équipe, la méthode AGILE, les dead-lines parfois très courtes.</p>
                  <h4>10.	 Quels étaient les principaux projets auxquels tu as participé pendant ton stage ?</h4>
                  <p>Seulement le projet Innovation dont j’ai déjà parlé</p>
                  <h4>11.	 Quel était ton niveau d’implication dans le(s) projet(s) ?</h4>
                  <p>Très assidu car le sujet me plaisait</p>
                  <h4>12. Comment l’entreprise a-t-elle réagi à tes contributions ?</h4>
                  <p>Elle m’a proposé un CDI</p>
                  <h4>13.	 Quels sont les aspects positifs que tu as observé dans ton travail pendant ton stage ?</h4>
                  <p>J’ai été très content de pouvoir mettre en œuvre ce que j’ai appris à l’école et Le télé-travail.</p>
                  <h4>14.	 Comment l’entreprise a-t-elle soutenu ton développement professionnel pendant ton stage ?</h4>
                  <p>En raison de la conjoncture en 2020, mon expérience et l’implication de l’entreprise ont été biaisés.</p>
                  <h4>15.	 Recommanderais-tu l’entreprise comme lieu de stage pour d’autres étudiants ? Pourquoi ou pourquoi pas ?</h4>
                  <p>Oui, les sujets dans l’équipe Innovations sont très intéressants, l’autonomie est très vite demandée, ainsi que les responsabilités.</p>
              </div>
          </div>
      </div>
</template>

<style scoped>
    .conteneur-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1480px;
    }

    .conteneur-innovation {
        grid-column: 1;
        grid-row: 1;
        margin-right: 3em;
    }

    h3 {
        padding: 2em 0;
    }

    h4 {
        padding: 0.5em 0;
        color: #98C5DF;
    }
    p {
        margin: 0;
        margin-bottom: 1em;
    }

    h2 {
        padding: 1em 0 0.5em 0;
    }
</style>