<script>
import PdfFileEtudeIMIM from '@/assets/doc/IMIM Innovative Monitor of IPCC models - Présentations, Fonctionnalités - 1.0 - 220323.pdf';
import PdfFileEtudeIV from '@/assets/doc/Mes indicateurs verts - Présentations, Fonctionnalités - 1.0 - 290523.pdf';
import PdfFileEtudeSA from '@/assets/doc/Service Advisor - Présentations, Fonctionnalités - 1.0 - 290623.pdf';
import PdfCV from '@/assets/doc/CV.pdf';
import PdfFileDesignIMIM from '@/assets/doc/Maquette IMIM.pdf';
import PdfFileDesignIV from '@/assets/doc/Maquette Indicateurs Verts.pdf';
import PdfFileDesignInno from '@/assets/doc/Maquette landing page Innolab.pdf';
import PdfFileDesignSA from '@/assets/doc/Maquette Service Advisor.pdf';
export default {
    name: "boutonStylePrincipal",
    props: ['buttonText'],
    methods: {
        openPdfInNewTab(pdfOption) {
            let pdfUrl = ""
            if (pdfOption === "1") {
                pdfUrl = PdfFileEtudeIMIM
            }
            else if (pdfOption === "2") {
                pdfUrl = PdfFileEtudeIV
            }
            else if (pdfOption === "3") {
                pdfUrl = PdfFileEtudeSA
            }
            else if (pdfOption === "4") {
              pdfUrl = PdfCV
            }
            else if (pdfOption === "5") {
              pdfUrl = PdfFileDesignIMIM
            }
            else if (pdfOption === "6") {
              pdfUrl = PdfFileDesignIV
            }
            else if (pdfOption === "7") {
              pdfUrl = PdfFileDesignInno
            }
            else if (pdfOption === "8") {
              pdfUrl = PdfFileDesignSA
            }
            window.open(pdfUrl, '_blank');
        }
    },
}

</script>

<template>
    <a @click="openPdfInNewTab(buttonText.href)">{{ buttonText.title }}</a>
</template>

<style scoped>
a {
    padding: 10px 20px;
    font-size: clamp(0.75rem, calc(0.65rem + 0.52vw), 1.13rem);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    border-radius: 5px 0;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

a:hover {
    border-radius: 50px 0;
    color: white;
    box-shadow: 0 0 5px #FFF,
    0 0 25px #FFF,
    0 0 50px #FFF,
    0 0 100px #FFF;
}

</style>