<script>
import PdfFileEtudeIMIM from '@/assets/doc/IMIM Innovative Monitor of IPCC models - Présentations, Fonctionnalités - 1.0 - 220323.pdf';
export default {
    name: "boutonStyleSecondaire",
    props: ['buttonText'],
    methods: {
      openPdfInNewTab(pdfOption) {
        let pdfUrl = ""
        if (pdfOption === "1") {
          pdfUrl = PdfFileEtudeIMIM
        }
        window.open(pdfUrl, '_blank');
      }
    },
}
</script>

<template>
    <a @click="openPdfInNewTab(buttonText.href)">{{ buttonText.title }}</a>
</template>

<style scoped>
a {
    padding: 10px 20px;
    font-size: clamp(0.75rem, calc(0.65rem + 0.52vw), 1.13rem);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    border-radius: 5px 0;
    background-color: white;
    color: #000514;
    border: 2px solid #000514;
}

a:hover {
    border-radius: 50px 0;
    color: #000514;
    box-shadow: 0 0 5px #000514,
    0 0 25px #000514,
    0 0 50px #000514,
    0 0 100px #000514;
}

</style>