<script>
  export default {
    name: "boutonStyleTertiaire",
    props: ['buttonText', 'hrefFormulaire'],
  }
</script>

<template>
  <router-link :to=hrefFormulaire><a>{{ "&rsaquo; " + buttonText || 'Default value' }}</a></router-link>
</template>

<style scoped>
  a {
      padding: 10px 20px;
      font-size: clamp(0.75rem, calc(0.65rem + 0.52vw), 1.13rem);
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      background-color: transparent;
      color: #98C5DF;
      border: none;
  }

  a:hover {
      border: none;
      color: white;
  }
</style>