<script>
export default {
    name: 'dropdownMenu',
    props: ['title', 'items'],
    data() {
        return {
            hover: false,
        }
    }
}
</script>

<template>
    <div class="menu-item" @mouseover="hover = true">
        <div id="titledropdown">
            <a href="#">{{ title }}</a>
            <img src="@/assets/flèche.svg" alt="fleche menu" height="8"/>
        </div>
        <transition name="fade" appear>
            <div class="sub-menu" v-if="hover" @mouseleave="hover = false">
                <div v-for="(item, i) in items" :key="i" class="menu-item">
                    <router-link :to="item.link"><li>{{ item.title }}</li></router-link>
                </div>
            </div>
        </transition>
    </div>
</template>

<style>
#titledropdown{
    padding: 0 1em;
}

.menu-item a {
    text-decoration: none;
    float: left;
    color: white;
    border-bottom: 2px solid transparent;
    font-size: 1.1em;
}

.menu-item img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    text-align: center;
    padding-left: 0.5em;
}

.sub-menu {
    position: absolute;
    transform: translateY(20%) translateX(-8%);
    padding: 1em;
    background: rgba(0, 5, 20, .8);
    width: max-content;
}

.sub-menu a{
    padding: .3em 0;
}


.sub-menu a:hover {
    text-shadow: #98C5DF 1px 0 10px;
    border-bottom: 2px solid white;
}

.fade-enter-active .fade-leave-active {
    transition: all .5s ease-out;
}

.fade-enter .fade-leave-to {
    opacity: 8;
}
</style>