<template>
    <div class="footer">
        <div class="conteneur-footer">
            <div class="footer-logo-menu">
                <div class="footer-logo">
                    <router-link to="/"><img src="@/assets/images/Logo_MJ_transparent.png" alt="Logo" height="150"/></router-link>
                </div>
                <div class="footer-links">
                    <div class="links-conteneur">
                        <router-link class="linkClass" to="/remerciements">Remerciements</router-link>
                    </div>
                    <div class="links-conteneur">
                        <router-link class="linkClass" to="/presentation">A propos de moi</router-link>
                    </div>
                    <div class="links-conteneur">
                        <router-link class="linkClass" to="/reflexions">Reflexions autour de ce site</router-link>
                    </div>
                </div>
            </div>
            <div class="footer-rs">
                <div class="footer-rs-phrase">
                    <h4>pour plus de contenus</h4>
                </div>
                <div class="footer-rs-img">
                    <a href="https://www.instagram.com/julyecrit/"
                       target="_blank"
                       title="Instagram"><img src="@/assets/images/instagram.svg" alt="Logo Instagram" height="40"/></a>
                    <a href="https://www.behance.net/mathildejuric"
                       target="_blank"
                       title="behance"><img src="@/assets/images/behance.svg" alt="Logo Behance" height="40"/></a>
                    <a href="https://mathildejuric.myportfolio.com/"
                       target="_blank"
                       title="AdobePf"><img src="@/assets/images/PF.svg" alt="Logo Adobe PF" height="40"/></a>
                </div>
            </div>
            <div class="footer-propriety">
                <p>© Mathilde Juric</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "footerComp",
}
</script>

<style scoped>
.footer {
    font-family: "DM Serif Display", sans-serif;
    background: rgba(0, 5, 20, .8);
}

.conteneur-footer {
    display: grid;
    grid-template-areas: "a b" "c c";
    max-width: 1480px;
    padding-bottom: 1em;
}

.footer-logo-menu {
    grid-area: a;
    display: grid;
}
.footer-rs {
    grid-area: b;
}

.footer-propriety {
    grid-area: c;
}

.footer-logo {
    grid-column: 1;
    grid-row: 1;
}
.footer-links {
    grid-column: 2;
    grid-row: 1;
    padding: 1em 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    align-content: center;
}

.links-conteneur{
    padding: .5em 0
}

.footer-links a:hover {
    text-shadow: #98C5DF 1px 0 10px;
    text-decoration: underline;
}

.footer-rs-phrase h4 {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em;
}

.footer-rs-img {
    filter: invert(85%) sepia(6%) saturate(2651%) hue-rotate(173deg) brightness(91%) contrast(90%);
    text-align: center;
}

.footer-rs-img img {
    margin: 0 1em;;
}

.footer-rs-img img:hover {
    filter: invert(92%) sepia(0%) saturate(100%);
}

@media screen and (max-width: 768px) {
    p, a:link{
        font-size: 1em;
    }
}
</style>