<script>
import dropdownMenu from "@/components/dropdownMenu.vue";
import topPageButton from "@/components/topPageButton.vue";
let id = 0;

export default {
    name: "menuNav",
    components: {dropdownMenu, topPageButton},
    data(){
        return {
            showMobileMenu: false,
            pages: [
                {
                    title: 'équipe et contexte',
                    link: '/equipe',
                },
                {
                    title: 'études ux',
                    link: '/etudes',
                },
                {
                    title: 'réalisations',
                    link: '/realisations',
                },
            ],
        }
    },
    methods: {
        showMenu() {
            this.showMobileMenu = !this.showMobileMenu;
        },
    }
}
</script>

<template>
    <div class="nav-menu">
        <i class="fa fa-bars" @click="showMenu()"></i>
        <div class="nav-content" :class="this.showMobileMenu ? 'open-menu' : 'closed-menu'">
            <div class="logo">
                <router-link to="/"><img src="@/assets/images/Logo_MJ_transparent.png" alt="Logo" height="75"/></router-link>
            </div>
            <ul class="nav-items">
                <router-link to="/"><li>accueil</li></router-link>
                <router-link to="/entreprise"><li>l'entreprise</li></router-link>
                <dropdown-menu title="Mes missions" :items="pages"></dropdown-menu>
                <router-link to="/bilan"><li>Bilan et perspectives</li></router-link>
                <router-link to="/temoignages"><li>Témoignages</li></router-link>
            </ul>
        </div>
    </div>
    <top-page-button></top-page-button>
</template>

<style lang="css" scoped>
.nav-menu {
  position: sticky;
  top: 0;
  font-family: "DM Serif Display", sans-serif;
  background: rgba(0, 5, 20, .8);
  text-transform: uppercase;
}
.nav-content {
  max-width: 1480px;
  display: flex;
  margin: 0 2em;
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

}

.nav-items li {
  text-decoration: none;
  float: left;
  color: white;
  border-bottom: 2px solid transparent;
  padding: 0 1em;
  font-size: 1.1em;
}

.nav-items li:hover {
  text-shadow: #98C5DF 1px 0 10px;
  border-bottom: 2px solid white;
}

i {
  display: none;
}

@media screen and (max-width: 768px) {

  .nav-menu {
    padding-top: 10px;
    width: 100%;
  }
  .open-menu {
    opacity: 1;
  }
  .closed-menu {
    opacity: 0;
    height: 0;
    padding: 0;
  }
  .nav-content {
    flex-direction: column;
    z-index: 100;
    transition: all 0.2s ease-out;
  }
  .nav-items {
    flex-direction: column;

  }
  nav-items li{
    font-size: 16px;
  }
  i {
    font-size: 30px;
    display: block;
    text-align: right;
    padding: 0 10px 10px 0;
    border-bottom: 2px solid transparent;
  }
  i:hover {
    color: #98C5DF;
  }
}

</style>