<script>
  import BoutonStyleTertiaire from "@/components/boutonStyleTertiaire.vue";
  export default {
      name: "homeTitre",
      components: {BoutonStyleTertiaire},
      data(){
          return {
              buttonFormulaire1: "Découvrir l’entreprise",
              buttonFormulaire2: "Découvrir mes missions",
              buttonFormulaire3: "Découvrir mes réalisations",
              hrefFormulaire1: "/entreprise",
              hrefFormulaire2: "/equipe",
              hrefFormulaire3: "/realisations",
          }
      }
}
</script>

<template>
    <div class="grid-background">
        <div class="conteneur-title">
            <h1>UX/UI <br/> DESIGNER</h1>
        </div>
        <div class="citations">
            <div class="citation1">
                <h4>Il y a trois réponses possibles : oui, non, et WOW ! <br/> Wow est la réaction que vous devez rechercher. </h4>
                <p>Milton Glaser – Graphiste & typographe.</p>
            </div>
            <div class="citation2">
                <h4>Si personne ne déteste votre travail, <br/> personne ne l’aime vraiment non plus</h4>
                <p>Jessica Walsh – associée de Sagmeister & Walsh.</p>
            </div>
            <div class="citation3">
                <h4>Plus d’options, plus de problèmes</h4>
                <p>Scott Belsky – Co-fondateur de Behance</p>
            </div>
        </div>
        <div class="conteneur-principal-droite">
            <div class="conteneur-texte-head">
                <div class="conteneur-texte">
                    <h2>Présentation <br/> du stage</h2>
                    <div class="trait_dessus"><hr></div>
                    <div class="conteneur-paragraphe">
                        <p>J’ai effectué mon stage chez ATOS, une entreprise spécialisée dans les services numériques,
                            du 20 mars au 15 septembre à St Martin du Touch à Toulouse.
                        </p>
                        <bouton-style-tertiaire :buttonText=buttonFormulaire1 :href-formulaire="hrefFormulaire1"></bouton-style-tertiaire>
                        <p>Mon rôle en tant que stagiaire Designer UX/UI dans l’équipe Innovation, que je vais présenter dans le
                            chapitre « Présentation de mes missions », consistait à créer des designs d’IHM métier, des logos
                            et des visuels en tous genres autour des projets pour lesquels je travaillais.<br/><br/>

                            Sur ce site, vous pourrez découvrir mon parcours, les missions que j’ai effectuées pendant mon
                            stage, mes compétences acquises et mes conclusions sur cette expérience enrichissante.
                        </p>
                        <bouton-style-tertiaire :buttonText=buttonFormulaire2 :href-formulaire="hrefFormulaire2"></bouton-style-tertiaire>
                        <p>Mais également mes réalisations</p>
                        <bouton-style-tertiaire :buttonText=buttonFormulaire3 :href-formulaire="hrefFormulaire3"></bouton-style-tertiaire>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.conteneur-principal-droite{
    margin-top: 2em;
    margin-bottom: 2em;
    background: url("@/assets/images/fond de texte.png") no-repeat;
    background-size: 50% 100%;
    background-position: right;
}

.grid-background{
    max-width: 1480px;
    margin-left: 3em;
    margin-right: 3em;
}
.conteneur-title h1{
    margin-top: 1em;
    margin-bottom: 5em;
}
.citations{
    margin-bottom: 39em;
}

@media screen and (max-width: 1280px) {
    .citations{
        margin-bottom: 10em;
    }
}

@media screen and (max-width: 768px) {
    .conteneur-title h1{
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .citations{
        margin-bottom: 15em;
    }
}
@media screen and (max-width: 530px) {
    .conteneur-principal-droite{
        margin-top: 2em;
        margin-bottom: 2em;
        background: url("@/assets/images/fond de texte.png") no-repeat;
        background-size: 100% 100%;
    }
}

.citations div {
    padding: 2em 0;
}

.citation2 {
    text-align: right;
}

.citation2 p {
    text-align: right;
}

.conteneur-texte-head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
}

.conteneur-texte{
    grid-column: 2;
    text-align: right;
    padding-left: 3em;
}

.conteneur-texte h2 {
    padding: 1em 0 0.5em 0;
}

.conteneur-texte p {
    margin: 1em 0;
}

.conteneur-paragraphe {
    margin: 3em 0;
}
p{
    margin: 0;
}
</style>