<script>
export default {
    name: "topBouton",
    props: {
        buttonText: String,
    },
    data() {
        return {
            hrefFormulaire: '#',
        }
    }
}
</script>

<template>
    <a :href=hrefFormulaire id="topButton"><img src="@/assets/flèche-top.svg" alt="haut de page" height="40"/></a>
</template>

<style scoped>
#topButton{
    position: fixed;
    bottom: 2em;
    right: 2em;
    transform: translateX(-10%) translateY(-10%);
}
img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    text-align: center;
    padding-left: 0.5em;
}
</style>