<script>
import { RouterLink, RouterView } from 'vue-router'
import headerVue from "@/components/headerVue.vue";
import footerVue from "@/components/footerVue.vue";
import imageFondHome from "@/assets/images/imageensemble.jpg"
import imageFondEntreprise from "@/assets/images/imageentreprise.jpg"
import imageFond404 from "@/assets/images/image404.jpg"
import imageFondEtude from "@/assets/images/imageEtude.jpg"
import imageFondReflexion from "@/assets/images/imageReflexion.jpg"
import imageFondPresentation from "@/assets/images/imagePresentation.jpg"
import imageFondRemerciements from "@/assets/images/imageRemerciements.jpg"
import imageFondTemoignage from "@/assets/images/imageTémoignagne.jpg"
import imageFondInno from "@/assets/images/imageInno.jpg"
import imageFondBilan from "@/assets/images/imageBilan.jpg"
import imageFondReal from "@/assets/images/imageRealisation.jpg"

export default {
    components: {
        RouterView,
        headerVue,
        footerVue,
    },
    computed: {
        backgroundUrl() {
            let imagePath = ""
            switch (this.$route.path) {
                case '/entreprise':
                    imagePath = "url("+ imageFondEntreprise +") no-repeat fixed bottom"
                    break
                case '/remerciements':
                    imagePath = "url("+ imageFondRemerciements +") no-repeat fixed bottom"
                    break
                case '/presentation':
                    imagePath = "url("+ imageFondPresentation +") no-repeat fixed center"
                    break
                case '/reflexions':
                    imagePath = "url("+ imageFondReflexion +") no-repeat fixed bottom"
                    break
                case '/temoignages':
                    imagePath = "url("+ imageFondTemoignage +") no-repeat fixed top"
                    break
                case '/realisations':
                    imagePath = "url("+ imageFondBilan +") no-repeat fixed bottom"
                    break
                case '/bilan':
                    imagePath = "url("+ imageFondReflexion +") no-repeat fixed top"
                    break
                case '/etudes':
                    imagePath = "url("+ imageFondEtude +") no-repeat fixed bottom"
                    break
                case '/equipe':
                    imagePath = "url("+ imageFondInno +") no-repeat fixed center"
                    break
                case '/404':
                    imagePath = "url("+ imageFond404 +") no-repeat fixed"
                    break
                default:
                    imagePath = "url("+ imageFondHome +") no-repeat"
                    break
            }
            return imagePath
        }
    }
}
</script>

<template>
    <div :style="{ background: backgroundUrl} " style="background-size: cover;">
        <header-vue></header-vue>
        <router-view/>
        <footer-vue></footer-vue>
    </div>
</template>

<style lang="css">
    .conteneur-principal{
        margin-top: 2em;
        margin-bottom: 2em;
        background: url("@/assets/images/fond de texte.png") no-repeat;
        background-size: 50% 100%;
    }

    @media screen and (min-width: 1480px){
        .conteneur-etudes{
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1480px;
        }
        .conteneur-main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1480px;
        }
        .conteneur-boutons {
            grid-column: 1;
            grid-row: 2;
            display: grid;
            column-gap: 1em;
            grid-template-columns: 1fr 1fr;
            margin: 3em 3em 3em 0;
        }
    }
    @media screen and (max-width: 1480px) and (min-width: 530px){
        .conteneur-main {
            margin-left: 3em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1480px;
        }
    }

    @media screen and (max-width: 530px) {
        .conteneur-principal{
            margin-top: 2em;
            margin-bottom: 2em;
            background: url("@/assets/images/fond de texte.png") no-repeat;
            background-size: 100% 100%;
        }
        .conteneur-etudes{
            max-width: 1480px;
        }
        .conteneur-main {
            margin-left: 3em;
        }
        .conteneur-boutons {
            margin: 3em 3em 3em 0;
        }
        .conteneur-boutons {
            grid-column: 1;
            grid-row: 2;
            display: grid;
            column-gap: 1em;
            row-gap: 1em;
            padding: 1em;
        }
    }

    .conteneur-innovation {
        grid-column: 1;
        grid-row: 1;
        margin-right: 3em;
    }

    h2 {
        padding: 1em 0 0.5em 0;
    }

    p {
        margin: 3em 0;
        text-align: justify;
    }
  @font-face {
      font-family: "Monserrat";
      src: url("@/assets/fonts/Montserrat/static/Montserrat-Medium.woff2") format("woff2");
  }
  @font-face {
      font-family: "DMSerifDisplay";
      src: url("@/assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.woff2") format("woff2");
  }

  *{
      padding: 0;
      margin: 0 auto;
      line-height: calc(0.25rem + 1em + 0.25rem);
      font-family: Monserrat, sans-serif;
  }

  *,
  ::before,
  ::after {
      box-sizing: border-box;
  }

  :where(img, svg, video) {
      max-inline-size: 100%;
  }
  /* Avoid text overflows */
  :where(h1, h2, h3) {
      line-height: 1.1;
  }
  :where(p, h1, h2, h3, h4, h5, h6) {
      overflow-wrap: break-word;
  }
  :where(ul, ol)[role=list]{
      list-style: none;
  }

  h1{
      font-family: "DMSerifDisplay", sans-serif;
      color: white;
      font-size: clamp(3.13rem, calc(1.40rem + 8.62vw), 9.38rem);
  }
  h2{
      font-weight: lighter;
      font-size: clamp(1.88rem, calc(1.19rem + 3.45vw), 4.38rem);
      color: white;
  }
  h3{
      font-weight: bold;
      font-size: clamp(1.25rem, calc(1.08rem + 0.86vw), 1.88rem);
      color: white;
  }
  h4{
      font-family: "DMSerifDisplay", sans-serif;
      font-size: clamp(0.94rem, calc(0.82rem + 0.60vw), 1.38rem);
      color: white;
  }
  p{
      font-weight: 500;
      font-size: clamp(0.75rem, calc(0.65rem + 0.52vw), 1.13rem);
      color: white;
  }
    pre{
       font-weight: 500;
       font-size: clamp(0.75rem, calc(0.65rem + 0.52vw), 1.13rem);
       color: white;
    }
  .trait_dessus hr {
      border-top: 5px solid #98C5DF;
  }
</style>
